@charset "UTF-8";
/* 身体*/
.body{height:8000px;margin:0 auto;} 

/* 轮播图 */
.turn-wrap{height: 400px;
    background: url("../images/01-banner/00.jpg") no-repeat center/cover;}
/*轮播最外层盒子*/
.turn-banner{position:relative;width:1230px;height:100%;margin:0 auto;}
/* 左侧导航 */
.turn-wrap .nav{position:absolute;width: 194px;height: 400px;color:#fff;z-index:1;background-color:#434343;}
.turn-wrap .nav li{height:33px;width: 194px;line-height:32px;}
.turn-wrap .nav .lis-1{margin-top:2px;}
.turn-wrap .nav .lis-1:hover{}
.turn-wrap .nav li:hover{background-color: #fff;}
.turn-wrap .nav li:hover .i-left{color:#FF7171;}
.turn-wrap .nav li:hover span{color:#666;}
.turn-wrap .nav li i{display:inline-block;color:#666;width: 15px;font-size:20px;padding:0 20px 0 15px;}
.turn-wrap .nav li span{display:inline-block;}
/* 子导航 */
.sub-nav{display:none;position:relative;top:-37px;left:194px;width: 1051px;height: 400px;
    background: #fff;border-top:1px solid #eee;}
.nav .lis-1:hover .sub-nav{display:block;}
.nav:hover .turn-vis{display:none;background:none;}
.sub-nav a:hover{font-weight:bold;}
/* 子导航左侧 */
.sub-nav .nav-left{position:absolute;top:10px;width: 699px;height: 425px;}
.sub-nav dl{color:#666;}
.sub-nav dl  dt{height: 39px;line-height:30px;width:92px;margin-left:10px;font-size:14px;font-weight:bold; }
.sub-nav dl  dt i{margin:-62px 0 0 40px;}
.sub-nav dl  dd{height: 39px;line-height:30px;width: 593px; border-bottom:1px solid #eee;}
.sub-nav dl  dd a{padding-right:10px;}
/* 子导航右侧 */
.sub-nav .nav-rig{position:absolute;top:10px;left:699px;border-left:1px solid #eee;}
.sub-nav .nav-rig ul li{float:left;width: 260px;height: 50px;}
.sub-nav .nav-rig ul li img{float:left;width: 80px;height: 35px;padding:15px 0 0 50px;}
.sub-nav .nav-rig img{float:left;width: 228px;height: 122px;padding:10px 0 0 40px;}

/* 右侧轮播可视区 */
.turn-vis{position:absolute;width:1035px;height: 398px;margin-left:194px;}
.turn-vis .pic{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
}
.turn-vis .pic .pic-main img{
    display:none;
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
}
.turn-vis .pic .pic-main img.on{
    display:block;
}
/*可视区底部按钮*/
.turn-vis .mark{position:absolute;top:360px;left:300px;}
.turn-vis .mark span{display:inline-block;background:#fff;width: 12px;height:12px;margin-right:10px;border-radius:50%;}
/*.turn-vis .mark span:hover{background-color:red;box-shadow:0 0 0 2px #fff;}*/
/*可视区左右图标*/
.turn-vis  .i-left{position:absolute;top:190px;left:20px;}
.turn-vis  .i-rig{position:absolute;top:190px;left:750px;font-weight:bold;}
.turn-vis .btn div{display:none;width:40px;height:40px;line-height:40px;background: #eee;border:1px solid #fff;
    border-radius:50%;}
.turn-vis:hover .btn div{display:block;}
.turn-vis .btn div:hover{background:#fff;}
.turn-vis .btn div:hover i{color:red;}
.turn-vis .btn i{display:block;text-align:center;font-size:20px;color:#999;}
/*可视区右侧登陆*/
.turn-vis .login-wrap{position:absolute;top: 50%;right: 20px;margin-top:-118px;padding:50px 12px 10px;width: 181px;height: 176px;
    background: url('../images/01-banner/vip_bg2.png') no-repeat #fff;}
.turn-vis .login-wrap .login-header{position: absolute;top: -30px;left: 50%;margin-left:-32px;width: 64px;height: 64px;
    background: url('../images/00-header/2.png') no-repeat 0 -150px;border:4px solid rgba(214,214,218,.5);border-radius:50%;}

.turn-vis .login-wrap > span{display: block;text-align:center;}
.turn-vis .login-wrap .login{height: 90px;line-height:90px;text-align:center;}
.turn-vis .login-wrap .login a{display: inline-block;width: 70px;height: 24px;border:1px solid red;margin:0 5px;color:red;
    border-radius:15px;text-align:center;line-height:24px;}
.turn-vis .login-wrap .login a:hover{background: red;color:#fff;}
.turn-vis .login-wrap > p{line-height:24px;}
.turn-vis .login-wrap > p > a > span{color:red;}
.turn-vis .login-wrap > p > a:hover{color:red;}
/*抢购网页区块*/
.purchase-wrap{width:1230px;height:140px;margin:10px auto;text-align:center;}
/*抢购剩余时间*/
.purchase-time{width:205px;height:100%;background-color: #EC3639;}
.purchase-time h3{font-size:20px;color:#fff;padding:10px 0 8px 0;}
.purchase-time span{color:#570706;}
.purchase-time div{padding:8px;}
.purchase-time div span{width:36px;height:26px;padding:2px 5px;font-size:15px;font-weight:600;color:#fff;
    background-color: #000;}
.purchase-time div b{color:#000;font-weight:bold;}
.purchase-time p > span{margin-left:15px;color:#fff;}
.purchase-time p > i{display:inline-block;width:12px;height:12px;color:#fff;}
/*抢购剩余比例*/
.purchase-rate ul{}
.purchase-rate li{position:relative;width:234px;height:120px;text-align:left;padding:20px 0 0 20px;}
.purchase-rate li:after{content:'';position:absolute;top:35px;right:-2px;width:0;height:70px;
    border-right:1px dotted #ddd;}
.purchase-rate li .rate-left{width:100px;height:110px;}
.purchase-rate li .rate-left p{overflow:hidden;width:87px;height:39px;}
.purchase-rate li .rate-left b{display:block;margin-top:20px;}
.purchase-rate li .rate-left > span{display:block;margin-top:-10px;}
.purchase-rate li .rate-right{width:110px;height:110px;margin:-115px 0 0 100px;}
.purchase-rate li .rate-right img{transition:.5s;width:107px;height:105px;}
.purchase-rate li:hover img{margin-left:-10px;}
.purchase-rate li .mark{position:absolute;width:37px;height:37px;font-size:12px;text-align:center;
    line-height:17px;color:#fff;top:10px;left:210px;background-color: red;}
/*双十一抢购网页区块*/
.double-eleven{position:relative;display:block;width:1228px;height:150px;margin:10px auto 0;}
.double-eleven img{display:block;width:1228px;height:150px;}
/*广告特卖网页区块*/
.adv-wrap{position:relative;display:block;width:1208px;height:270px;margin:0 auto;border:10px solid #AF3F58;}
.adv-wrap a{display:inline-block;width:224px;height:140px;border-right:10px solid #AF3F58;}
.adv-wrap a:nth-child(5),a:nth-child(10){border-right:none;}
.adv-wrap img{display:block;width:224px;height:130px;}
.adv-wrap .adv-up{width:1218px;height:130px;border-bottom:10px solid #AF3F58;}
/*上新网页区块*/
.fresh-wrap{position:relative;display:block;width:1228px;height:820px;margin:20px auto;}
.fresh-wrap .fresh-left img{width:267px;height:400px;margin-bottom:20px;}
.fresh-left div{position:absolute;top:265px;left:30px;width:200px;height:55px;text-align:center;padding:25px 0;
    color:#000;background:rgba(255,255,255,.8);}
.fresh-left div p{font-size:20px;}
.fresh-left div p:after{content:"";width:50px;height:0;position:absolute;top:60px;left:70px;
    border-bottom:1px solid #000;}
.fresh-left div span{display:block;line-height:50px;font-size:12px;}
.fresh-right .right-1{position:absolute;top:0;left:277px;width:484px;height:820px;}
.fresh-right .right-2{position:absolute;top:0;left:774px;width:453px;height:820px;}
.fresh-right .right-1 li:nth-child(1){display:block;position:absolute;top:0;left:0;width:484px;height:400px;
    border:1px solid blue;}
.fresh-right .right-1 li:nth-child(1) a{display:block;width:484px;height:400px;border-top:1px solid red;}
.fresh-right .right-1 li:nth-child(1) a > img{position:absolute;top:33px;left:0;width:250px;height:360px;border:1px solid blue;}
.fresh-right .right-1 li:nth-child(1) a .right-1b{position:absolute;top:50px;left:251px;width:232px;height:181px;}
.fresh-right .right-1 li:nth-child(1) a .right-1c{position:absolute;top:232px;left:251px;width:232px;height:161px;}
.fresh-right .right-1 li:nth-child(1) a .right-1b img{position:absolute;top:50px;left:105px;width:110px;height:110px;}
.fresh-right .right-1 li:nth-child(1) a .right-1c img{position:absolute;top:35px;left:105px;width:110px;height:110px;}
.fresh-right .right-1 li:nth-child(1) p{font-size:18px;color:red;margin:0 0 10px 30px;}
.fresh-right .right-1 li:nth-child(1) span{margin-left:30px;}
.fresh-right .right-1 li:nth-child(1) a .mark-header{position:relative;display:block;width:140px;height:32px;font-size:18px;color:#fff;
    text-align:center;line-height:32px;border-radius:5px;background-color:#FB6233;margin-left:172px;}
.fresh-right .right-1 li:nth-child(1) a .mark-header > span{position:absolute;top:-1px;left:-1px;display:block;width:5px;height:5px;
    background-color:red;border-radius:100% 0;}


